.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}
.chat-message-robot {
  display: flex;
  align-items: start;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  margin-bottom: 20px;
  max-width: 300px;
}
.chat-message-profile {
  width: 50px;
  height: 50px;
  border-radius: 45px;
  object-fit: cover;
}

.chat-message-time {
  font-size: 14px;
  color: rgb(125, 125, 125);
  margin-top: 5px;
}
.welcome-message {
  text-align: center;
  color: rgb(120, 120, 120);
}
.loading-spinner {
  height: 40px;
  margin: -15px;
}
